<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>(My) Region Manager</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/myStyles.css}">
</head>
<body>
	<p>All countries: <span th:text="${all}">[]</span></p>
	<p>Order by name: <span th:text="${byName}">[]</span></p>
	<p>Order by region: <span th:text="${byRegion}">[]</span></p>
	<p>Order by region and country name: <span th:text="${byRegionAndName}">[]</span></p>
	<p>Order by region name and country name: <span th:text="${byRegionNameAndName}">[]</span></p>
</body>
</html>