<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Organizations Manager</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/myStyles.css}">
</head>
<body>
	<h1>Organizations</h1>

	<p>
		Go to <a href="/countries">all countries</a> page
	</p>

	<hr />

	<form action="/organization">
		<label>Organization: <select name="id">
			<option th:each="cur: ${organizations}" th:value="${cur.id}"
				th:text="${cur.name}">EU</option>
		</select></label>
		<div>
			<button>Go!</button>
		</div>
	</form>

	<h2>Create new organization:</h2>
	<form action="/organization/save">
		<label>Id: <input name="id" required="required"></label>
		<label>Name: <input name="name" required="required"></label>
		<div>
			<button>Save</button>
		</div>
	</form>

	<h2>Delete organization:</h2>
	<form action="/organization/delete">
		<label>Name: <select name="id">
			<option th:each="cur: ${organizations}" th:value="${cur.id}"
				th:text="${cur.name}">EU</option>
		</select></label>
		<div>
			<button>Kill it!</button>
		</div>
	</form>

	<div th:each="org: ${organizations}">
		<h2 th:text="${org.name}">EU</h2>
		
		<div th:each="cur: ${org.countries}">
			<p th:text="|${cur.id}: ${cur.name}|">name</p>
		</div>		
	</div>

	<div th:if="${countriesSize}">
	<table>
		<tr>
			<th>ORGANIZATION</th>
			<th>COUNTRIES</th>
			<th:block th:each="i: ${#numbers.sequence(1, countriesSize)}">
				<th th:text="|COUNTRY ${i}|">COUNTRY X</th>
			</th:block>
		</tr>
		<tr th:each="cur: ${organizations}">
			<td th:text="${cur.name}">EU</td>
			<th:block th:each="country : ${cur.countries}">
				<td th:text="${country.name}">Italy</td>
			</th:block>
		</tr>
	</table>
	</div>	
</body>
</html>