<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Region Manager</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/myStyles.css}">
</head>
<body>
	<h1>Regions</h1>

	<p>
		Go to <a href="/employees">all employees</a> page<br />
		Go to <a href="/countries">all countries</a> page
	</p>

	<hr />	
	
	<table>
		<tr>
			<th>NAME</th>
		</tr>
		<tr th:each="cur: ${regions}">
			<td th:text="${cur.name}">Europe</td>
		</tr>
	</table>

	<br/>
	<form action="/region">
		<label>Get region by id: <select name="id">
			<option th:each="cur: ${regions}" th:value="${cur.id}"
				th:text="${cur.id}">1</option>
		</select></label>
		<div>
			<button>Go!</button>
		</div>
	</form>

	<h2>Countries by region:</h2>
	<form action="/countries/region">
		<select name="id">
			<option th:each="cur: ${regions}" th:value="${cur.id}"
				th:text="${cur.name}">Europe</option>
		</select>
		<div>
			<button>Select</button>
		</div>
	</form>

	<h2>Create new region:</h2>
	<form action="/region/save">
		<label>Id: <input name="id" required="required"></label>
		<label>Name: <input name="name" required="required"></label>
		<div>
			<button>Save</button>
		</div>
	</form>

	<h2>Edit region:</h2>
	<form action="/region/save">
		<label>Id: <select name="id">
			<option th:each="cur: ${regions}" th:value="${cur.id}"
				th:text="${cur.id}">...</option>
		</select></label>
		<label>Name: <input name="name" required="required"></label>
		<div>
			<button>Save</button>
		</div>
	</form>


	<h2>Delete region:</h2>
	<form action="/region/delete">
		<select name="id">
			<option th:each="cur: ${regions}" th:value="${cur.id}"
				th:text="${cur.name}">...</option>
		</select>
		<div>
			<button>Delete</button>
		</div>
	</form>
</body>
</html>